<!-- <div class="row"> -->
    <!-- <div class="columns"> -->
<!--     <div class="flex-child-auto">
      <div class="c-article flex-child-auto">
        <h4 class="c-article-title flex-child-auto"> -->
<h4><a href="#">Honing its dynamic pricing formula, Vacasa wants to make homeowners more cash than Airbnb</a></h4>
<!--         </h4> -->
         <p class="c-article-author"><em>by <a href="#">TechCrunch</a></em></p>
        <p class="c-article-elipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat longshoreman... <a href="#" class="read-more">Read more</a></p>
<!--        <div class="c-article-social">
          <a href="#" class="button social comments"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
          <a href="#" class="button social facebook"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#" class="button social twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          <a href="#" class="button social linkedin"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
          <a href="#" class="button social google-plus"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a>
        </div> -->
<!--       </div>
    </div>
  </div> -->
    <!-- <div class="columns"> -->
<!--       <img src="https://images.pexels.com/photos/29410/pexels-photo-29410.jpg?w=1260&h=750&auto=compress&cs=tinysrgb"> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
