<div class="row callout">
  <div class="column medium-6 flex-child-auto">
    <img src="https://images.pexels.com/photos/29410/pexels-photo-29410.jpg?w=1260&h=750&auto=compress&cs=tinysrgb">
  </div>
  <div class="column medium-6 flex-child-auto">
    <h4><a href="#">Honing its dynamic pricing formula, Vacasa wants to make homeowners more cash than Airbnb</a></h4>
    <p class="c-article-author"><em>by <a href="#">TechCrunch</a></em></p>
    <p class="c-article-elipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat longshoreman... <a href="#" class="read-more">Read more</a></p>
  </div>
</div>
