<div class="c-author">
<!--   <h3 class="c-author-title">About the Author</h3> -->
  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="c-author-image">
        <img src="http://placehold.it/350x350" />
      </div>
      <div class="c-author-social">
        <a href="#">
          <span class="fa-stack fa-lg facebook">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg twitter">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg linkedin">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="small-12 medium-8 columns">
      <h4 class="separator-left">Ryan Johnson</h4>
      <p>Hi I'm a Web Developer based in St. Paul, Minnesota. Having come off a 5 year contract with SEH doing full stack Drupal development I've now regained 50% my mind share back and am ready to share what I've learned.</p>
      <p>Look forward to future articles, experiments, and guides this summer!</p>
    </div>
  </div>
</div>
