<div class="row">
  <div class="column medium-6 flex-child-auto">
    <img src="https://images.pexels.com/photos/29410/pexels-photo-29410.jpg?w=1260&h=750&auto=compress&cs=tinysrgb">
  </div>
  <div class="column medium-6 flex-child-auto">
    <h4><a href="{{root}}guides/gamify">Gamifying Web Design for Buddies</a></h4>
    <p class="c-article-author"><em>by <a href="#">Ryan</a></em></p>
    <p class="c-article-elipsis">Looking for a workflow for making static websites? This guide will knock your socks off... <a href="{{root}}guides/gamify" class="read-more">Read more</a></p>
  </div>
</div>
