<div class="card">
  <h2 class="card-divider">Upcoming Events</h2>
  <ul class="no-bullet card-section">
    <li>
      <h3>
        <a href="#">Grand Opening!</a>
      </h3>
      <p>
        Flank pancetta ham ground round beef ribs. Hamburger pork chop short loin t-bone andouille flank jerky corned beef turkey
        biltong alcatra cow cupim ham hock. Strip steak shankle drumstick, ribeye chuck shank spare ribs biltong swine burgdoggen
        pastrami. Andouille ribeye venison, tongue chicken hamburger sausage.
      </p>
    </li>
    <li>
      <h3>
        <a href="#">Open Mic</a>
      </h3>
      <p>
        Hamburger pork chop short loin t-bone andouille flank jerky corned beef turkey biltong alcatra cow cupim ham hock. Strip
        steak shankle drumstick, ribeye chuck shank spare ribs biltong swine burgdoggen pastrami. Andouille ribeye venison,
        tongue chicken hamburger sausage.
      </p>
    </li>
    <li>
      <h3>
        <a href="#">Class: Make Your Own Website!</a>
      </h3>
      <p>
        Ham ground round beef ribs. Hamburger pork chop short loin t-bone andouille flank jerky corned beef turkey biltong alcatra
        cow cupim ham hock. Strip steak shankle drumstick, ribeye chuck shank spare ribs biltong swine burgdoggen pastrami.
        Andouille ribeye venison, tongue chicken hamburger sausage.
      </p>
    </li>
  </ul>
</div>