<div class="grid-container">
  <div class="grid-x">
    <div class="small-6 cell">
      <p>© 2017 The 258 Web Company</p>
      <p class="lead">Saint Paul, Minnesota</p>
    </div>
    <div class="small-6 cell">
      {{> social-buttons}}
    </div>
    <!-- <ul class="no-bullet">
      <li>
        <a href="https://www.facebook.com/StudiaMusique/" target="_blank">#</a>
      </li>
      <li>
        <a href="http://www.twitter.com/wix" target="_blank">#</a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCCUFlzDLGm_4XeMgWK7cSGQ" target="_blank">#</a>
      </li>
    </ul> -->
  </div>
</div>