<!--  grid-container-padded -->
<div class="grid-container callout">
  <!-- small-up-# to display 2 side by side for x results -->
  <div class="grid-x grid-margin-x grid-margin-y small-up-2 medium-up-3 large-up-4">
    <div class="cell">
      <img src="http://placehold.it/300x200" alt="">
    </div>
    <div class="cell">
      <img src="http://placehold.it/300x200" alt="">
    </div>
    <div class="cell">
      <img src="http://placehold.it/300x200" alt="">
    </div>
    <div class="cell">
      <img src="http://placehold.it/300x200" alt="">
    </div>
    <div class="cell">
      <img src="http://placehold.it/300x200" alt="">
    </div>
    <div class="cell">
      <img src="http://placehold.it/300x200" alt="">
    </div>
    <div class="cell">
      <img src="http://placehold.it/300x200" alt="">
    </div>
  </div>
</div>