<div data-sticky-container>
  <div class="n-magellan" data-sticky data-margin-top="12" id="exampleId">
    <ul class="menu vertical" data-magellan>
      <li><a href="#festivals">Festivals</a></li>
      <li><a href="#barsandresidences">Bars & Residences</a></li>
      <li><a href="#clubs">Clubs</a></li>
      <li><a href="#corporatesportsevents">Corporate or Sports Events</a></li>
    </ul>
  </div>
</div>
<!-- Add a Sticky Menu -->
<!-- <div data-sticky-container> -->
  <!-- <div class="top-bar" data-sticky data-margin-top="0" id="example-menu">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Site Title</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu" data-magellan>
        <li><a href="#first">One</a></li>
        <li><a href="#second">Two</a></li>
        <li><a href="#third">Three</a></li>
      </ul>
    </div>
  </div>
</div> -->
