<!-- Step 5: Add title bar -->
<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <!-- Step 6: Make toggle button -->
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <!-- Step 7: Add Title -->
        <div class="title-bar-title">Menu</div>
    </div>
<div class="top-bar">
    <div class="off-canvas in-canvas-for-medium position-left" data-off-canvas id="responsive-menu">
        <nav class="top-bar-left">
            <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
                <li class="is-active"><a href="index.html">Home</a></li>
                <li><a href="inside.html">About</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Recipes</a></li>
                <li><a href="">Portfolio</a>
                    <ul class="vertical nested menu">
                    <li><a href="">Wedding cakes</a></li>
                    <li><a href="">Birthday cakes</a></li>
                    <li><a href="">Other occasions</a></li>
                    </ul>
                </li>
                <li><a href="">Newsletter</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>