<div class="top-bar main-nav">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="{{root}}"><img src="{{root}}assets/img/bryanCee--logo.png" /></a></li>
      <li>
        <a href="{{root}}">Home</a>
        <!-- <ul class="menu vertical">
          <li><a href="#">Bio</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul> -->
      </li>
      <li><a href="{{root}}bio">Bio</a></li>
      <li><a href="{{root}}music">Music</a></li>
      <li><a href="{{root}}performances">Performances</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="{{root}}contact">Contact</a></li>
    </ul>
  </div>
</div>
