<section class="small-12 cell">
  <ul class="tabs" id="tabs--events" data-responsive-accordion-tabs="tabs medium-accordion ">
    <li class="tabs-title is-active">
      <a href="#panel1" class="lead">Development</a>
    </li>
    <li class="tabs-title">
      <a href="#panel2" class="lead">Design</a>
    </li>
    <li class="tabs-title">
      <a href="#panel3" class="lead">Strategy</a>
    </li>
  </ul>
  <div class="tabs-content" data-tabs-content="tabs--events">
    <div class="tabs-panel is-active" id="panel1">
      <h4>Let's talk about what needs to be made:</h4>
      <p>We make websites.</p>
    </div>
    <div class="tabs-panel" id="panel2">
      <h4>Let's talk about your brand:</h4>
      <p>Every business has a market, and every business has a position in that market.</p>
    </div>
    <div class="tabs-panel" id="panel3">
      <h4>Let's talk strategy:</h4>
      <p>This would be a good chance to bring your needs to the table and we can formulate solutions with you to move the needle.</p>
    </div>
  </div>
</section>