<section class="small-12 cell">
  <ul class="tabs" id="tabs--home" data-responsive-accordion-tabs="tabs medium-accordion large-tabs">
    <li class="tabs-title is-active">
      <a href="#panel1">LEARN.CREATE.RECORD.</a>
    </li>
    <li class="tabs-title">
      <a href="#panel2">FILM PHOTOGRAPHY MUSIC</a>
    </li>
    <li class="tabs-title">
      <a href="#panel3">TOGETHER MSP</a>
    </li>
  </ul>
  <div class="tabs-content" data-tabs-content="tabs--home">
    <div class="tabs-panel is-active" id="panel1">
      <h2 class="text-center">LEARN.CREATE.RECORD.</h2>
      <p>Flank pancetta ham ground round beef ribs. Hamburger pork chop short loin t-bone andouille flank jerky corned beef
        turkey biltong alcatra cow cupim ham hock. Strip steak shankle drumstick, ribeye chuck shank spare ribs biltong swine
        burgdoggen pastrami. Andouille ribeye venison, tongue chicken hamburger sausage.</p>
    </div>
    <div class="tabs-panel" id="panel2">
      <h2 class="text-center">FILM PHOTOGRAPHY MUSIC</h2>
      <p>Hamburger pork chop short loin t-bone andouille flank jerky corned beef turkey biltong alcatra cow cupim ham hock.
        Strip steak shankle drumstick, ribeye chuck shank spare ribs biltong swine burgdoggen pastrami. Andouille ribeye
        venison, tongue chicken hamburger sausage.</p>

    </div>
    <div class="tabs-panel" id="panel3">
      <h2 class="text-center">TOGETHER MSP</h2>
      <p>Chop short loin t-bone andouille flank jerky corned beef turkey biltong alcatra cow cupim ham hock. Strip steak shankle
        drumstick, ribeye chuck shank spare ribs biltong swine burgdoggen pastrami. Andouille ribeye venison, tongue chicken
        hamburger sausage.</p>

    </div>
  </div>
</section>